html {
    background-color: dodgerblue;
}
body {
    background-color: #00c957; 
    border: 5px solid black;
    margin: 0 auto;
    width: 60%;
}
h1 {
    /* margin: 0 auto; */
    text-align: center;
}
p::first-letter, p::first-line {
    font-family: cursive;
    font-size: 36px;
    line-height: .5;
    color: yellow;
}