html {
    background-color: dodgerblue;
}
body {
    background-color: #00c957; 
    border: 5px solid black;
    margin: 0 auto;
    width: 60%;
}
h1 {
    /* margin: 0 auto; */
    text-align: center;
}
a {
    display: block;
    margin: 20px 30px;
    text-align: center;
}
a:link {
    color: blue;
}
a:visited {
    color: red;
}
a:hover {
    color: yellow;
}
a:active {
    color: hotpink;
}