:root {
/* Dimensions */
  --height: 100%;
  --width: 100%;

/* Colors */
  --main-colorA: rgba(236, 240, 241,.6);
  --main-colorB: rgba(236, 240, 241,.0);

/* A lil layout  */
  --main-font-family:'Roboto';
  --main-text-align:center;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:700);
  
h1 {
  font-size:50px;
  margin-top:200px;
  font-family: var(--main-font-family);
  text-align: var(--main-text-align);
  } /* h1 */
  
  /* //Positioning the main divs */
  div{
  background-size:200%;
  background-position:0 50%;
  height:var(--height);
  position:fixed;
  top:0;
  width:var(--width);
  pointer-events:none;
  } /* div */
  
#picture{
background-image:url('http://finda.photo/image/10216/thumbnail/original');
background-size:cover;
background-repeat:no-repeat;
z-index:-1;
}
  
  /*Setting the first layer */
  #layer1{
    background: repeating-linear-gradient(
    90deg,
    var(--main-colorB),
    var(--main-colorA),
    var(--main-colorB),
              );
  animation: layer1 10s linear infinite alternate;
   }/*#layer1 */
  
  /*Setting the second layer */
  #layer2{

  background: repeating-linear-gradient(
  90deg,
    var(--main-colorB),
    var(--main-colorA),
    var(--main-colorB),
            );
  animation: layer2 15s linear infinite alternate;
  }/*#layer2 */
  
  /*Animations */
  @keyframes layer1 {
    0% {background-position: 1000px 0;}
    50% {background-position: 500px 0;}
    100% {background-position: 0 0;}
  }/*layer1 */
  @keyframes layer2 { 
    0% {background-position: 0 0%;}
    50% {background-position: 500px 0%;}
    100% {background-position: 1000px 0;}
  }
  /* //layer2 */
  