.puppy {
    width: 200px;
    height: 200px;
    border: 5px solid red;
    border-radius: 100%;
    background-image: url("../../../images/german_shepard.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;

}

div {
    width: 200px;
    height: 200px;
    border: 5px solid red;
    border-radius: 100%;
    background-image: url("../../../images/german_shepard.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* display: inline-block; */

}

img {
    width: 200px;
    border: 10px groove orangered;
    box-sizing: border-box;
    /* border-radius: 100%; */
    padding: 20px;
    /* margin: 20px; */
}

.dogone {
    border: 10px dashed green;
}

.dogtwo {
    border: 10px groove blueviolet;
}

.dogthree {
    border: 10px groove red;
}