.div1 {
    width: 400px;
    height: 200px;
    background-color: aqua;
    border-radius: 20%;
    border: 10px dashed red;
    margin: 20px auto;
}

.div2 {
    width: 400px;
    height: 200px;
    background-color: aqua;
    border-radius: 20%;
    border: 10px dashed red;
    margin: 20px auto;
    box-sizing: border-box;
}