html {
    background-color: dodgerblue;
}
body {
    background-color: #00c957; 
    border: 5px solid black;
    margin: 0 auto;
    width: 60%;
}
img {
    display: block;
    border: gold ridge 20px;
    border-radius: 100%;
    width: 60%;
    margin: 2% auto;
}
#header001 {
    color: #0266c8;
}
#header002 {
    color: #f90101;
}
p {
    font-size: 121%;
}